.MuiTableRow-root > * {
  padding: 10px;
}
.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important  ;
}

.Table td,
th {
  border: none !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.details {
  color: blue !important;
}
